<div class="card border-0">
  <div class="card-body">
		<%= form_with url: secret_codes_path, local: true, method: :post do %>
			<div class="form-row">
				<div class="col-4">
				  <%= select_tag :generate_number, options_for_select(LIST, 10), class: 'form-control' %>
				</div>
				<div class="col-2">
				  <%= submit_tag 'Generate', class: 'btn btn-primary btn-rounded' %>
		    </div>
	    </div>
		<% end %>
	</div>
</div>

<table class="table table-border">
	<thead>
		<th>Secret Code</th>
		<th>User</th>
	</thead>
	<tbody>
		<% @secret_codes.each do |secret_code| %>
			<tr>
				<td><%= secret_code.code %></td>
				<td><%= secret_code.user&.email || '-' %></td>
			</tr>
		<% end %>
	</tbody>
</table>